################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/backend/.vs/backend/DesignTimeBuild
/backend/backend/.vs/ProjectEvaluation/backend.metadata.v9.bin
/backend/backend/.vs/ProjectEvaluation/backend.projects.v9.bin
/backend/backend/.vs/backend/v17/.suo
/backend/backend/.vs/backend/v17/.futdcache.v2
*.vsidx
/backend/backend/backend/obj/Debug/net8.0/backend.AssemblyInfo.cs
/backend/backend/backend/obj/Debug/net8.0/backend.AssemblyInfoInputs.cache
/backend/backend/.vs/backend/v17/DocumentLayout.backup.json
/backend/backend/backend/obj/backend.csproj.nuget.dgspec.json
/backend/backend/backend/obj/backend.csproj.nuget.g.props
/backend/backend/backend/obj/backend.csproj.nuget.g.targets
/backend/backend/backend/obj/project.assets.json
/backend/backend/backend/obj/project.nuget.cache
/backend/backend/backend/obj/Debug/net8.0/backend.csproj.AssemblyReference.cache
/backend/backend/backend/obj/Debug/net8.0/backend.assets.cache
*.cache
*.txt
*.cs
*.json
/backend/backend/.vs/backend/v17/DocumentLayout.json
/backend/backend/backend/bin/Debug/net8.0
/backend/backend/backend/obj/Debug/net8.0
/backend/backend/.vs/backend/config/applicationhost.config
/backend/backend/backend/bin/Debug/net7.0
/backend/backend/.vs/ProjectEvaluation/backend.strings.v9.bin
/backend/backend/backend/obj/Debug/net7.0
/backend/backend/backend.Tests/.vs/backend.Tests/DesignTimeBuild
/backend/backend/backend.Tests/.vs/backend.Tests/v17/TestStore/0
/backend/backend/backend.Tests/.vs/backend.Tests/v17
/backend/backend/backend.Tests/.vs/ProjectEvaluation
/backend/backend/backend.Tests/bin/Debug/net7.0
/backend/backend/backend.Tests/obj
