################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.cache
*.txt
*.json

/backend/backend/.vs
/backend/backend/backend/obj
/backend/backend/backend.Tests/.vs/backend.Tests/v17/.suo
